body {
    background-color: lightgreen;
    height: 100%;
    /* Smoothly transition the background color */
    transition: background-color 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
  }
  
  .box {
    height: 500px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.063);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
  }

  .player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .player:hover {
      background-color: transparent;
      box-shadow: 0 0 20px #2221218f;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  
  .track-art {
    margin: 20px;
    height: 200px;
    width: 200px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.736);
  }
  
  .track-name {
    font-size: 2.5rem;
  }
  
  .track-artist {
    font-size: 1.1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.736);
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: -10px;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 20px;
    opacity: 0.75;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 80%;
    font-size: 0.7rem;
    /* max-width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    background: black;
    opacity: 0.65;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 100%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  .current-time, .total-duration {
    padding: 5px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px 5px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }

  
/* second box */
.main {
  transition: 0.3s all;
}
.main:hover {
  background-color: transparent;
  box-shadow: 0 0 20px #2221218f;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding: 0 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.1);
}

.current-playing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: black;
  font-size: 1.6rem;
  font-weight: 700;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: .3em;
}

.load:nth-child(1) {
  animation-delay: .2s;
}
.load:nth-child(2) {
  animation-delay: .4s;
}
.load:nth-child(3) {
  animation-delay: .6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-content: center;
}

.album-cover {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  height: 40px;
  width: 40px;
  align-self: center;
  border-radius: 5px;
}
#album-cover1 {
  background-image: url("https://media-hosting.imagekit.io//19e83e19a4bf48ba/screenshot_1740419554412.png?Expires=1835027555&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=AcnEA6o1ex1W9npRumjhB4uvzDf43AVnNuYw21I6W-lcdOX9b7A7MWf4EHYwLHUunQ8EctgQhpRrs83o-DxGRkgSQE4Cae-3IGjpfqqF6QlTaeIA6Fu-CWcS4PyWvSoao8odeqWHndxsG4HVWi11lPjgdIwmoZOC4uxweyDnrNO9O~xv~l18wUs74hKWa5kfnnewY~SsPEQu73yvLpYifahNpLWjwd8KoysRFETR6e7ffwGqMGvhTqCTxIMXiDbnLlbh-OoMlnGh6viu-VvvvbjWmWiB5oKZBuTkJpBIZVKbLPRtjqenbxK1mPqCR9vMTxCBEf26-0DX~gx435HGVw__");
  background-size: cover;
}
#album-cover2 {
  background-image: url("https://media-hosting.imagekit.io//f4938527f01146e4/screenshot_1740420125948.png?Expires=1835028127&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=H0rwJV4ARojxJXCLzefSDZBDu0NUqHlKVxohzTNgMoPXojenPiEtpdsaY5EMvBiF1ANNKAWJRL6PCMxg5GqVNhtOI0X-iU8EX2b3Qst3GBYOBH84SPCfrPLdj1XGl8Qohyb8GCWSpeFmpOM8GVBxtYq45W4l0OmBZa-PbinEAsQb7c8feEKxQmo5qcFKEEQMzvUviA3b97H5QhramrLH2XGKA6OpUbwrte~GdEi1z7iAkvRf-5W~nLNL6H6ozAzO3Eip-3Tr-0nhKcGggt6vbYQ7I1ybT77-UE1OzIau-yJtuPeOg1aY4RRQgEo4NqBgv9FMKJ5v~RZ7RRF-du~X7Q__");
  background-size: cover;
}
#album-cover3 {
  background-image: url("https://media-hosting.imagekit.io//6575a79aa1f84d09/screenshot_1740420287712.png?Expires=1835028289&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=WyKv861FKgMzgvpA2nhE1izGYhpdZL6VunKAipEowqkVPp~0CltjMc5PqP~6j16FQUSQGmSnlBU2Jnl~ZjfD0XdXVj~hBl6YeCsrIJV5FIOQGpzeK9HT8qW3gxSR-9g9XO5GuUsezaX9jL6bGeyPaMJzug~PHJsVee8e5vdTutVcGCR6CYskz243uhGlGanv-shs6dEAhgHx5~z125u2BK9xFwAOMw1W0PxQJJq9GGKSBIJLuBCZQcUwqy9qJH98KWcozqB~YawkPll2uNxctVpgRuV~2z9Jp5hr9IOkWLfkYsVAxLVLO7qargySjcCjBlKE~7gbVzrkGHg6Ir2EFw__");
  background-size: cover;
}
#album-cover4 {
  background-image: url("https://media-hosting.imagekit.io//1f562de013e24f74/screenshot_1740420375390.png?Expires=1835028376&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=jaT7f4TmaRh3V49vOtz62hd~u4U6z7~TAupIhHmcapm9su56qDYJR3-LNn-DxkCpE0rcayWXzExw7BNZNJds7C-kLZxx70LnF65fPIxcAPsUI79MFyEpxd8SQm2L83T-UQkANCNd-xX4dnVQ3h0RRl04ZPak9fCjrON~ewLptGnKI5rRm1Xo3UADA76-~6HyYZt~inO7g86ZNCO6Fn4JlYHYnzLGC-VTJLP-iBQtQ1BXDaB7-zGOONu-22PGb-K2xfVBYzM3tTP-quZgAvJiLO6mx4LQgT7EnUqciSlUwylNLdR9TQBvbApvzwfAUsynCqP3w56pdet1xytedKm21A__");
  background-size: cover;
}
#album-cover5 {
  background-image: url("https://media-hosting.imagekit.io//db9ba48ea87c4352/screenshot_1740420795208.png?Expires=1835028796&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=TYNr8MRd2sZgnIgw9f7nkjbWt2bQ4fTq9Qc3V~4Vh90UxEJ85JM756nw4drrHfMV2~81ZIh9XIy0PRY4JekgH3DrqHsg8gIsR92pjLkQLkNSzYWZouYRuN66Ow-4zFK7ntkHvlEkeru35GNheew4xw89wkbu09MqXQJBBrFjDxIVtc37l5BOMYjPdWtDJdQKthg0HL935vn84EiRAyl74azZbD13lUZeqIxYP8bNaNWarGj2lbz1XmWmohp9BbnIaUd8wmV5o3mg-XJKFmvmvL3V2FJHeVvlcsyLXLZw2Y43F7pu2zeRA4lTn-tku~BPeTL5~6L6givq~4-JEp2Npg__");
  background-size: cover;
}
#album-cover6 {
  background-image: url("https://media-hosting.imagekit.io//b18d69d8c8264eca/screenshot_1740420973860.png?Expires=1835028975&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=aMs3-HIaTLu~NG~~EoMPaGCrChi59-q1RNpZv5fRSmvME2kaa39DcYGdVBPXuYUR0KJXaDPp6gy3RsaDdE6E4d85UW9U2qmOOYczPVYBGM-GZ5DDNCmpeZ3~ugMSONdhXRsl5BsuePHjBmfueR4w0mUczI3xDDhFTXr2Rk5axiObuga4tyIb6OqARskI75v8OfyZQM-fGNbSWctjKATad69JVGhPYuLBOPKDONktINiSipzTnoBO6HSfsKcTX78guodiSinV5kwTv62feF5UVZ8bZo3GB6yv-MH-VDLZMWjBIDVCFJyOUr3biu3fgQOYoWmDCySW~vWtnada8oVgDA__");
  background-size: cover;
}
#album-cover7 {
  background-image: url("https://api.telegram.org/file/bot7834654948:AAHzCZeDZeWvhkTJPEHjfwN_Sr2hp2hkv5M/photos/file_23.jpg");
  background-size: cover;
}
#album-cover8 {
  background-image: url("https://api.telegram.org/file/bot7834654948:AAHzCZeDZeWvhkTJPEHjfwN_Sr2hp2hkv5M/photos/file_24.jpg");
  background-size: cover;
}
#album-cover9 {
  background-image: url("https://api.telegram.org/file/bot7834654948:AAHzCZeDZeWvhkTJPEHjfwN_Sr2hp2hkv5M/photos/file_26.jpg");
  background-size: cover;
}
#album-cover10 {
  background-image: url("https://api.telegram.org/file/bot7834654948:AAHzCZeDZeWvhkTJPEHjfwN_Sr2hp2hkv5M/photos/file_28.jpg");
  background-size: cover;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.name {
  margin: 0;
  padding: 0;
}

.artist {
  font-size: .6em;
  margin: 1px 0 0 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.77);
}

/* media query */

@media screen and (max-width: 693px) {
  body {
    flex-direction: column;
    margin-top: 25px;
  }
  
  .box {
    width: 80%;
  }

  .track-name {
    font-size: 2rem;
  }
  
  .track-artist {
    font-size: 0.8rem;
  }

  .slider_container {
    width: 105%;
    font-size: 0.6rem;
  }
}

/* Ensure Playlist Section is Scrollable */
.playlist {
    max-height: 500px; /* Adjust height as needed */
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.063);
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.playlist:hover {
      background-color: transparent;
      box-shadow: 0 0 20px #2221218f;
  }
/* Scroll Buttons */
/* Add custom scrollbar styles */
.playlist::-webkit-scrollbar {
    width: 8px;
}
.playlist::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.063);
    border-radius: 4px;
}
.playlist::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.063);
    border-radius: 4px;
}
.playlist::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
    box-shadow: 0 0 20px #2221218f;
}
